@font-face {
    font-family: 'Malgunsl';
    src: url('/project/Naver_clone/font/malgunsl.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Malgun';
    src: url('/project/Naver_clone/font/malgun.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Malgunbd';
    src: url('/project/Naver_clone/font/malgunbd.woff') format('woff');
    font-weight: 700;
}