
@font-face {
    font-family: 'Cor-L';
    font-weight: 300;
    src: url(/project/Ganeshi_redeign/font/CORMORANT-LIGHT.woff) format("woff");
}

@font-face {
    font-family: 'Cor-R';
    font-weight: 400;
    src: url(/project/Ganeshi_redeign/font/CORMORANT-REGULAR.woff) format("woff");
}

@font-face {
    font-family: 'Cor-M';
    font-weight: 600;
    src: url(/project/Ganeshi_redeign/font/CORMORANT-MEDIUM.woff) format("woff");
}

@font-face {
    font-family: 'Cor-SB';
    font-weight: 800;
    src: url(/project/Ganeshi_redeign/font/CORMORANT-SEMIBOLD.woff) format("woff");
}

@font-face {
    font-family: 'Cor-B';
    font-weight: 900;
    src: url(/project/Ganeshi_redeign/font/CORMORANT-BOLD.woff) format("woff");
}